body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  text-align: center;
}

.buttons-container {
  text-align: left;
  margin-bottom: 20px;
}

.buttons-container button {
  display: block;
  margin-bottom: 10px;
}

.categoria {
  display: none;
}

.categoria.active {
  display: block;
}