@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

body {
    background-color: #fafafa; /* Color de fondo */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.crear-cuenta-form {
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.crear-cuenta-form label {
    margin-bottom: 30px; /* Espacio entre cada label y el input */
    text-align: center;
    font-size: 20px; /* Tamaño de fuente grande */
    font-weight: bold; /* Texto en negrita */
    color: #ff7800;
    display: block; /* Para que cada label ocupe toda la anchura del formulario */
}

.crear-cuenta-form h1 {
    margin-bottom: 20px; /* Espacio entre cada label y el input */
    text-align: center;
    font-size: 13px; /* Tamaño de fuente grande */
    display: block; /* Para que cada label ocupe toda la anchura del formulario */
}

.crear-cuenta-form a {
    display: block; /* Para que el enlace ocupe toda la anchura del formulario */
    text-align: center; /* Para centrar el texto */
    font-weight: bold; /* Texto en negrita */
}


input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    background-color: #fafafa;
    box-sizing: border-box; /* Para incluir el padding y el borde en el ancho total */
}

input[type="submit"] {
    background-color: #ff7800; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #e2a56f; /* Color de fondo del botón al pasar el cursor */
}
