@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

/* Estilo general del cuerpo */
body {
    background-color: #262738;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh; 
    margin: 0; /* Elimina el margen predeterminado */
}

h1{
    margin-bottom: 30px; 
    text-align: center;
    font-size: 30px;
    color: #fff; 
    display: block; /* Para que cada label ocupe toda la anchura del formulario */
}

h2{
    margin-bottom: 40px; 
    text-align: center;
    font-size: 15px;
    display: block;
    color: #fff;
}

a {
    text-align: center; 
    font-weight: bold; /* Texto en negrita */
    display: inline-block; /* Para que los enlaces estén en línea */
    margin: 0 14px; /* Margen horizontal entre los enlaces */
    color: #fff;
}

/* Estilo del formulario */
form {
    background-color: #161622; 
    border: 1px solid #251836; 
    border-radius: 4px; /* Bordes redondeados */
    padding: 40px; /* Espacio interno */
    width: 300px; /* Ancho del formulario */
    height: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

/* Estilo de los campos de entrada */
input[type="email"],
input[type="submit"] {
    width: 100%; 
    padding: 10px; 
    margin-bottom: 15px; /* Espacio inferior */
    border: 1px solid #251836;
    background-color: #161622;
    color: aliceblue; 
    border-radius: 4px; 
    box-sizing: border-box; 
}

/* Estilo del botón */
input[type="submit"] {
    margin-bottom: 50px;
    background-color: #E6506E; 
    color: #fff; 
    cursor: pointer; /* Cambia el cursor al pasar */
}

input[type="submit"]:hover {
    background-color: #e63e19; /* Color de fondo al pasar */
}




